[Unit]
Description=gRPC Auth
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/sso-auth
ExecStart=/root/apps/sso-auth/grpc-auth --config=/root/apps/sso-auth/config/prod.yaml
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target